<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="xYtMjC7Q5WjOdHOHpw7jqX_6ZkaOexOdHVGmSthwvjQ" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    <div class="container">
      <img src="https://i.imgur.com/as5zeHZ.png?2" alt="logo" class="logo">
      <nav>
        <% if (user) { %> 
          <a href="/mangas">All Mangas</a>
          <a href="/mangas/new">Add Manga</a>
          <a href="/publishers/new">Publishers</a>
          <a href="/logout">LOG OUT</a>
          <% } else {%>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
          <% } %>
      </nav>
    </div>
    </header>
    <img src="https://i.imgur.com/70O3ch7.png?1" alt="logo-manga-tracker" class="main-logo">
</body>
</html>


