<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Mangas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav>
        <a href="/mangas/new">Add Manga</a>
        <a href="/logout">LOG OUT</a>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    </nav>
    <h1>All Mangas</h1>
    <table id="list">
    <thead>
        <tr>
            <th>Title</th>
            <th>Chapter</th>
        </tr>
    </thead>
    <tbody>
    <% mangas.forEach(function(m) { %>
        <tr>
            <td><%= m.title %></td>
            <td><a href="/mangas/<%= m._id %>">Details</a></td>
        </tr>
    <% }) %>
    </tbody>
    </table>
</body>
</html>